# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Logs
logs
*.log
logs/*.log
logs/**/*.log

# Binaries & Cache
.DS_Store
*.swp
*.swo
*.bak

# Compiled output
dist/
build/

# Editor-specific files
.vscode/
.idea/
*.iml

# MacOS-specific files
*.DS_Store